header {
	box-sizing: border-box;
	background-color: #118BC0;
	padding-left: 2em;
	overflow: hidden;
	height: 5em;
}

.main {
	background-color: #344051;
	box-sizing: border-box;
	padding: 10.9375em 19em 3em 19em;
	background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/crowd.jpg?raw=true");
	background-size: 100%;
}

.break {
	box-sizing: border-box;
	padding: 3em 0;
	background-color: #E8F0F5;
}

.content {
	padding: 2em 0 0 0;
	border-top: solid 2.0625em #D1D3D7;
	border-right: solid .625em #D1D3D7;
	border-left: solid .625em #D1D3D7;
}

.bottomborder {
	border-bottom: solid 2.0625em #D1D3D7;
}

footer {
	background-color: #000000;
	overflow: hidden;
	padding-top: 3em;
	padding-bottom: 3em;
	text-align: center;
}

p {
	font-size: 3em;
	color: white;
	text-align: center;
}

.standardsize {
	font-size: 1em;
	margin-bottom: 3em;
}

.bluebox {
	height: auto;
	background-color: #118BC0;
	width: 300px;
	margin: 0 auto;
	color: white;
	text-align: center;
	font-size: 1.5em;
	padding: 1em 0;
	box-shadow: 0 0 0 .5em rgba(0,0,0,.2);
}

.noborder {
	border: none;
	color: white;
	text-align: center;
	font-size: 1.5em;
	height: auto;
	width: 300px;
	box-shadow: none;
	margin-top: 1em;
}



.whitebox {
	background-color: transparent;
	margin: 13em 0 5em 11em;
}

.arrow {
	height: none;
	width: none;
	color: white;
	background-color: transparent;
	margin: 13em auto;
	padding-left: 10em;
}

.big {
	box-sizing: border-box;

	overflow: hidden;
	margin: 3em auto;
	width:26em;
}

.medium {
	margin: 0 auto;
	padding-top: 2em;
}

.links {
	color: white;
	padding-right: 3em;
	padding-left: 2em;
}

.blank {
	height: 2em;
	background-color: transparent;
}

.farleft {
	margin-left: 4em;
}

.row2 {
	padding-top: 2em;
	margin-bottom: 5em;
}

.headbox {
	margin: .5em 0 0 -.5em;
	background-color: transparent;
	float: left;
}

.bluehead {
	box-sizing: border-box;
	margin: 0;
	float:right;
	width: 8em;
	height: 5em;
	background-color: #0070A4;
	text-align: center;
	color: white;
	padding-top: 2em;
	font-size: 1.1em;
}

.gray {
	margin: 2em 0;
	
	width: 5em;
	background-color: transparent;
	float: left;
}

.gbig {
	margin: 0;
	width: 21em;
	background-color: transparent;
}

.texthold {
	background-color: #C7D2D8;
	height: 3em;
	width: 3em;
	margin: 0 auto;
	text-align: center;
	/*border: 1em solid #C7D2D8;
	border-radius: 50%;*/
	background-size: contain;
	padding: .5em 0 0 .5em;
}

.lightbulb {
	border: 1em solid #C7D2D8;
	border-radius: 50%;
	background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/lightbulb.png?raw=true");
}

.cloud {
	border: 1em solid #C7D2D8;
	border-radius: 50%;
	background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/cloud.png?raw=true");
}

.gator {
	border: 1em solid #C7D2D8;
	border-radius: 50%;
	background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/code.png?raw=true");
}

.dialogue {
	border: 1em solid #C7D2D8;
	border-radius: 50%;
	background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/comments.png?raw=true");
}

.present {
	border: 1em solid #C7D2D8;
	border-radius: 50%;
	background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/gift.png?raw=true");
}

.globe {
	border: 1em solid #C7D2D8;
	border-radius: 50%;
	background-image: url("https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/globe.png?raw=true");
}

.thmed {
	height: 2.5em;
	width: 10em;
	margin-top: 1em;
	background-color: transparent;
	font-size: 2em;
	color: #426283;
}

.thbig {
	background-color: transparent;
	color: #4B4B4C;
	font-size: 1.1em;
	width: 55em;
	/*margin-bottom: 3em;*/
}

.wordpress {
	font-size: 1.5em;
	box-sizing: border-box;
	color: #FDFDFB;
	margin: 1em 0 0 1em;
	background-color: transparent;
	
}

.com {
	box-sizing: border-box;
	color: #98CEE4;
	margin-top: 10em;
}

.print {
	font-size: 1em;
	margin-left: 1.5em;
}

.promo {
	font-size: 2.5em;
	color: #314156;
	text-align: center;
}

.bpromo {
	padding-top: 1em;
}

.p2 {
	font-size: 2em;
}