.main {
	height: 80em;
	background-color: #344051;
	border-top: solid 3.125em #118BC0;
	box-sizing: border-box;
	padding: 10.9375em 19em 3em 19em;
}

.break {
	height: 11.875em;
	background-color: #E8F0F5;
}

.content {
	height: 13.4375em;
	border-top: solid 2.0625em #D1D3D7;
	border-right: solid .625em #D1D3D7;
	border-left: solid .625em #D1D3D7;
}

.bottomborder {
	border-bottom: solid 2.0625em #D1D3D7;
}

footer {
	height: 8.125em;
	background-color: #000000;
	overflow: hidden;

	padding-top: 2em;
	text-align: center;
}

p {
	font-size: 3em;
	color: white;
	text-align: center;
}

.standardsize {
	font-size: 1em;
}

.bluebox {
	height: 3.125em;
	background-color: #118BC0;
	border: solid 1em #212934;
	width: 20em;
	margin: 0 auto;
}

.noborder {
	border: solid 1em #118BC0;
}

.bottom {
	padding: 10em 19em 0 19em;
}

.whitebox {
	height: 1.5em;
	width: 3em;
	background-color: white;
	margin: 13em 0 5em 11em;
}

.big {
	margin: 3em auto;
	height: 4em;
	width:26em;
}

.medium {
	margin: 1.5em auto;
	width: 7em;
}

.links {
	color: white;
	padding-right: 3em;
	padding-left: 2em;
}

.blank {
	height: 2em;
	background-color: transparent;
}

.farleft {
	margin-left: 4em;
}

.row2 {
	padding-top: 2em;
}